{% extends 'base.html' %}

{% block head %}
{{ super() }}
<script defer src="/static/js/journalEdit.js"></script>
{% endblock %}

{% block main %}
<div class="choose-wrapper">
    <div class="choose-cat">
        <div class="choose-cat-top">
            <h1>Journal Entries Editor</h1>
        </div>
        <div class="choose-cat-body">
            {% for reflection in reflections %}
            <div class="choose-board">
                <div class="choose-board-name">
                    <div>{{reflection.title}}</div>
                    <b>{{reflection.sub_title}}</b>
                </div>
                <div class="choose-board-bulk">
                    <div class="choose-board-sub">
                        {% for tag in reflection.tags %}
                        <div>{{tag}}</div>
                        {% endfor %}
                    </div>
                    <div class="choose-board-desc">
                        {{reflection.content | safe}}
                    </div>
                    <div class="choose-board-recent">
                        <div class="choose-board-recent-del">Delete Entry</div>
                        written by <span>{{reflection.author}}</span>
                        <div>{{reflection.date}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="choose-board">
                <div class="choose-board-name">
                    <div id="title" contenteditable="true">Title</div>
                    <b id="sub_title" contenteditable="true">Subtitle</b>
                </div>
                <div class="choose-board-bulk">
                    <div id="tag_container" class="choose-board-sub">
                        <div contenteditable="true">Tag</div>
                        <div id="add_tag" style="background-color: var(--blue2); color: var(--dark0)">Add Tag</div>
                    </div>
                    <div id="content" class="choose-board-desc" contenteditable="true">
                        Content
                    </div>
                    <div class="choose-board-recent">
                        <div id="add_entry" class="choose-board-recent-add">Add Entry</div>
                        written by <span id="author" contenteditable="true">Name</span>
                        <div id="date" contenteditable="true">Date</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}