{% extends 'base.html' %}

{% block main %}
<div class="choose-wrapper">


    <div class="choose-cat">
        <div class="choose-cat-top">
            <h1>Projects</h1>
        </div>
        <div class="choose-cat-body">
            <div class="choose-board">
                <a href="#" class="choose-board-name">
                    <div>Project A</div>
                    <b>Description</b>
                </a>
                <div class="choose-board-bulk">
                    <div class="choose-board-sub">
                        <div>Feature A</div>
                        <div>Feature B</div>
                    </div>
                    <div class="choose-board-icon">
                        <div></div>
                    </div>
                    <div class="choose-board-desc">
                        Pleasure melting your snowflake of lace down your face for your love, for your lover to
                        find. I
                        could call your demons aside, soak them in chamomile for your love, for your lover to find.
                        Breathing, breathing underwater. Breathing, breathing underwater. I could brea-breathe,
                        breathe
                        underwater to find, find, find - for your love, for your lover to find. For your love, for
                        your
                        lover to find.
                    </div>
                    <div class="choose-board-recent">
                        written by <span>first lastname</span>
                        <br>
                        <span>DD / MM / YYYY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}